# 1
Er zijn meerdere 1-dimensionale structuren in Python. De list, de numpy array en pandas Series zijn degene die je het meest zal gebruiken (numpy en pandas zijn packages).

Meer informatie over lists: https://www.youtube.com/watch?v=U8x0wpgU9Kk&list=PLwkTCAI_gJjW10xaAJpdqeQx7EQgFolfG&index=4 

**A. Maak een list met de getallen 6 tot en met 10** (2 min)

In [33]:
list1 = [6,7,8,9,10]

**B. Geef de list de naam list1** (1 min)

In [34]:
list1 = list1

**C. Zet de list om in een numpy array en pandas series. Importeer eerst deze twee packages** (5 min) <br>
Introductie in numpy: https://www.youtube.com/watch?v=WkK39hhP8Yk&list=PLwkTCAI_gJjW10xaAJpdqeQx7EQgFolfG&index=6 <br>
Introductie in pandas: https://www.youtube.com/watch?v=s8G6SQLKvHs&list=PLwkTCAI_gJjW10xaAJpdqeQx7EQgFolfG&index=7

In [35]:
import numpy as np      
import pandas as pd

np_array = np.array(list1)
pd_series = pd.Series(list1)

### **2. Tel 5 op bij alle getallen in list1, doe hetzelfde voor de array en series**

Voor de python list hebben we een list comprehension nodig. De numpy array en pandas Series kunnen het in één keer. <br>
(8 min)

In [36]:

pd_series = pd_series+5

np_array = np_array + 5

## 3
**A. Maak een tweede list met de letters A,B,C,D,E en noem deze list2** (2 min)

In [37]:
list2 = ['A', 'B', 'C', 'D', 'E']

**B. Maak een pandas dataframe met de naam df die bestaat uit twee kolommen: list1 en list2** <br> (4 min). Voor achtergrond zie introductie in pandas (1C)

In [44]:
print(list1, list2)
aars=pd.Series(list1, list2)

[6, 7, 8, 9, 10] ['A', 'B', 'C', 'D', 'E']
A     6
B     7
C     8
D     9
E    10
dtype: int64

**C. Voeg een derde kolom toe aan de dataframe met 5 x de waarde TRUE** (3 min) <br>
Toevoegen kolommen: https://www.youtube.com/watch?v=GU6YNLxVdU8&list=PLwkTCAI_gJjW10xaAJpdqeQx7EQgFolfG&index=10

In [47]:
import pandas as pd

# Voorbeeld DataFrame
data = {'Kolom1': [6, 7, 8, 9, 10],
        'Kolom2': ['A', 'B', 'C', 'D', 'E']}

df = pd.DataFrame(data)

# Voeg een derde kolom toe met 5 keer de waarde TRUE
df['Kolom3'] = [True] * 5

# Toon het resulterende DataFrame
print(df)

   Kolom1 Kolom2  Kolom3
0       6      A    True
1       7      B    True
2       8      C    True
3       9      D    True
4      10      E    True

## 4 
**Check of je working directory overeenkomt met de map waarin je de werkcolleges wil opslaan** (2 min)

In [ ]:
#doe lekker opkankeren

## 5
**Gebruik de functie 'read_csv()' uit het pandas package om de dataset in te laden en geef het de
naam *HairEyeColour*** (3 min)

In [57]:
HairEyeColor = pd.read_csv("HairEyeColor.csv")
print(HairEyeColor)

      Hair    Eye     Sex
0    Blond   Blue  Female
1    Brown  Brown    Male
2    Brown   Blue    Male
3    Brown  Green    Male
4    Brown  Hazel    Male
..     ...    ...     ...
587  Black  Green  Female
588    Red  Hazel  Female
589  Brown  Brown    Male
590  Blond   Blue  Female
591  Black  Brown  Female

[592 rows x 3 columns]

## 6 
**Wat voor type variabelen zitten er in de dataset?** (3 min) <br> Tip: gebruik de method 'info()'

object betekent 'tekst'

<br>
Voor achtergrond over data exploratie zie: https://www.youtube.com/watch?v=kQrV91jRIWQ&list=PLwkTCAI_gJjW10xaAJpdqeQx7EQgFolfG&index=9

In [58]:
HairEyeColor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hair    592 non-null    object
 1   Eye     592 non-null    object
 2   Sex     592 non-null    object
dtypes: object(3)
memory usage: 14.0+ KB

## 7 
**Hoeveel mannen en hoeveel vrouwen zitten er in de dataset?** (5 min) <br> Tip: gebruik method 'value_counts()' of functie 'crosstab()' uit pandas

In [62]:
HairEyeColor.value_counts('Sex')

Sex
Female    313
Male      279
Name: count, dtype: int64

## 8 
**Hoe veel roodharige personen met groene ogen zitten er in de dataset?** (5 min)

In [68]:
HairEyeColor[['Hair','Eye']].value_counts()

Hair   Eye
Brown  Brown    119
Blond  Blue      94
Brown  Blue      84
Black  Brown     68
Brown  Hazel     54
       Green     29
Red    Brown     26
Black  Blue      20
Red    Blue      17
Blond  Green     16
Black  Hazel     15
Red    Green     14
       Hazel     14
Blond  Hazel     10
       Brown      7
Black  Green      5
Name: count, dtype: int64

## 9
**Welk percentage van de mensen met blond haar heeft blauwe ogen?** (6 min) <br> Tip: Zie gebruik functie crosstab. Welke optie kan hiervoor gebruiken. https://pandas.pydata.org/docs/reference/api/pandas.crosstab.html

In [81]:
blond_blue_df = HairEyeColor[(HairEyeColor['Hair'] == 'Blond') & (HairEyeColor['Eye'] == 'Blue')]
percentage = len(blond_blue_df)/len(HairEyeColor)*100
print(f'Ze hebben zo {percentage:.2f}% blauwe ogen en blond haar')

Ze hebben zo 15.88% blauwe ogen en blond haar

## 10
**Hoeveel vrouwen hebben blond en haar en blauwe ogen?** (4 min)

In [83]:
blond_blue_f_df = HairEyeColor[(HairEyeColor['Hair'] == 'Blond') & (HairEyeColor['Eye'] == 'Blue') & (HairEyeColor['Sex'] == 'Female')]
print(len(blond_blue_f_df))

64

## 11
**Voeg een kolom toe aan de dataset met de naam DarkHair. Deze kolom heeft de waarde
“Dark” indien de haarkleur Black of Brown is en “Light” indien de haarkleur Blond of Red is.** (8 min)

Tip: gebruik functie 'where()' uit numpy package of een list comprehension

Introductie in conditional statements: https://www.youtube.com/watch?v=WURqpxX_Rsw&list=PLwkTCAI_gJjW10xaAJpdqeQx7EQgFolfG&index=8

In [86]:
def categorize_hair_color(hair_color):
    if hair_color in ['Black', 'Brown']:
        return 'Dark'
    elif hair_color in ['Blond', 'Red']:
        return 'Light'
    else:
        return 'Unknown'

# Voeg de nieuwe kolom 'DarkHair' toe aan het DataFrame
HairEyeColor['DarkLight'] = HairEyeColor['Hair'].apply(categorize_hair_color)

      Hair    Eye     Sex DarkHair
0    Blond   Blue  Female    Light
1    Brown  Brown    Male     Dark
2    Brown   Blue    Male     Dark
3    Brown  Green    Male     Dark
4    Brown  Hazel    Male     Dark
..     ...    ...     ...      ...
587  Black  Green  Female     Dark
588    Red  Hazel  Female    Light
589  Brown  Brown    Male     Dark
590  Blond   Blue  Female    Light
591  Black  Brown  Female     Dark

[592 rows x 4 columns]

## 12
**Hoeveel personen hebben licht haar?** (3 min)

In [101]:
count_dark_hair = (HairEyeColor['DarkLight'] == 'Light').sum()

print(f"The number of individuals with dark hair is: {count_dark_hair}")

The number of individuals with dark hair is: 198

## 13 
**Welk percentage van de personen heeft licht haar en blauwe ogen?** (3 min)

In [104]:
filtered_df = HairEyeColor[(HairEyeColor['Hair'].isin(['Blond', 'Red'])) & (HairEyeColor['Eye'] == 'Blue')]
percentage_light_hair_blue_eyes = (len(filtered_df) / len(HairEyeColor)) * 100
print(percentage_light_hair_blue_eyes)

18.75